/* --------------------------------------------------
Reveal Modals
-------------------------------------------------- */
.reveal-modal-bg {
  background: $black;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
.reveal-modal {
  background: $gray10 url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
  @include border-radius(5px);
  @include box-shadow(0 0 10px rgba($black, 0.4));
  left: 50%;
  margin-left: -300px;
  padding: 30px 40px 34px;
  position: absolute;
  top: 100px;
  visibility: hidden;
  width: 520px;
  z-index: 41;
}
.reveal-modal.small {
  margin-left: -140px;
  width: 200px;
}
.reveal-modal.medium {
  margin-left: -240px;
  width: 400px;
}
.reveal-modal.large {
  margin-left: -340px;
  width: 600px;
}
.reveal-modal.xlarge {
  margin-left: -440px;
  width: 800px;
}
.reveal-modal .close-reveal-modal {
  color: $gray35;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  line-height: .5;
  position: absolute;
  right: 11px;
  text-shadow: 0 -1px 1px rbga($black, 0.6);
  top: 8px;
}
.reveal-modal .row {
  min-width: 0;
}

/* Mobile */
@media handheld, only screen and (max-width: 1023px) {
  .reveal-modal-bg {
    position: absolute;
  }
  .reveal-modal,
  .reveal-modal.small,
  .reveal-modal.medium,
  .reveal-modal.large,
  .reveal-modal.xlarge {
    height: auto;
    left: 15%;
    margin-left: 0;
    padding: 20px;
    top: 60px;
    width: 60%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .reveal-modal-bg {
    position: absolute;
  }
  .reveal-modal,
  .reveal-modal.small,
  .reveal-modal.medium,
  .reveal-modal.large,
  .reveal-modal.xlarge {
    height: auto;
    left: 5%;
    margin-left: 0;
    padding: 20px;
    top: 15px;
    width: 80%;
  }
}

/*
  NOTES
  Close button entity is &#215;
  Example markup
  <div id="myModal" class="reveal-modal">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  I it's mine.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
*/
