/* --------------------------------------------------
Typography
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: $gray90;
  font-weight: bold;
  line-height: 1.25;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  font-size: 4.6rem;
  margin-bottom: 12px;
}
h2 {
  font-size: 35px;
  font-size: 3.5rem;
  margin-bottom: 9px;
}
h3 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 9px;
}
h4 {
  font-size: 21px;
  font-size: 2.1rem;
  margin-bottom: 3px;
}
h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 3px;
}
h6 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: normal;
}
.subheader {
  color: $gray50;
  font-weight: 300;
  margin-bottom: 24px;
}
p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.25;
  margin: 0 0 18px;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
}
em, i {
  font-style: italic;
  line-height: inherit;
}
strong, b {
  font-weight: bold;
  line-height: inherit;
}
small {
  font-size: 60%;
  line-height: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
  color: $gray50;
}

/*	Blockquotes  */
blockquote,
blockquote p {
  color: $gray50;
  line-height: 20px;
}
blockquote {
  border-left: 1px solid $gray15;
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
}
blockquote cite {
  color: $gray65;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: $gray65;
}
hr {
  border: solid $gray15;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 12px 0 18px;
}
abbr,
acronym {
  border-bottom: 1px solid $gray15;
  color: $gray90;
  cursor: help;
  font-size: 90%;
  text-transform: uppercase;
}
abbr {
  text-transform: none;
}
