/* --------------------------------------------------
Buttons
-------------------------------------------------- */
.button {
  background: $blue;
  border: none;
  color: $white;
  cursor: pointer;
  @include inline-block;
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 9px 34px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
/* Don't use native buttons on iOS */
input[type=submit].button, button.button {
  -webkit-appearance: none;
}

/* Hide inner focus effect in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
.button.nice {
  background-color: $blue;
  @include background-image(linear-gradient(top, rgba($white, 0.4) 0%, transparent 100%));
  border: 1px solid darken($blue, 10%);
  @include box-shadow(inset 0 1px 0 rgba($white, 0.5));
  text-shadow: 0 -1px 1px rgba($white, 0.28);
  @include transition(background-color .15s ease-in-out);
}
.button.radius {
  @include border-radius(3px);
}
.button.round {
  @include border-radius(1000px);
}
.button.full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100%;
}
.button.left-align {
  text-align: left;
  text-indent: 12px;
}
/* Sizes ---------- */
.tiny.button {
  font-size: 10px;
  padding: 6px 14px 8px;
  width: auto;
}
.small.button {
  font-size: 11px;
  padding: 8px 20px 10px;
  width: auto;
}
.medium.button {
  font-size: 13px;
  width: auto;
}
.large.button {
  font-size: 18px;
  padding: 11px 48px 13px;
  width: auto;
}
/* Colors ---------- */
.blue.button {
  background-color: $blue;
}
.red.button {
  background-color: $red;
}
.white.button {
  background-color: $gray05;
  color: $gray20;
}
.black.button {
  background-color: $gray95;
}
.green.button {
  background-color: $green;
}
/* Nice Colors ---------- */
.nice.blue.button {
  border: 1px solid darken($blue, 10%);
}
.nice.red.button {
  border: 1px solid darken($red, 10%);
}
.nice.white.button {
  border: 1px solid darken($gray05, 10%);
  text-shadow: none !important;
}
.nice.black.button {
  border: 1px solid $black;
}
.nice.green.button {
  border: 1px solid darken($green, 10%);
}
/* Hovers ---------- */
.button:hover,
.button:focus {
  background-color: darken($blue, 10%);
  color: $white;
}
.blue.button:hover,
.blue.button:focus {
  background-color: darken($blue, 10%);
}
.red.button:hover,
.red.button:focus {
  background-color: darken($red, 10%);
}
.white.button:hover,
.white.button:focus {
  background-color: darken($gray05, 10%);
  color: $gray80;
}
.black.button:hover,
.black.button:focus {
  background-color: $black;
}
.green.button:hover,
.green.button:focus {
  background-color: darken($green, 10%);
}
/* Hovers ---------- */
.nice.button:active {
  @include box-shadow(inset 0 1px 0 rgba($black, 0.15));
}
/* Disabled ---------- */
.button.disabled,
.button[disabled] {
  cursor: default;
  @include opacity(0.6);
}

/* Correct FF button padding */
@-moz-document url-prefix("http://") {
  input[type=submit].button::-moz-focus-inner,
  button.button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input[type=submit].tiny.button {
    padding: 5px 14px 7px;
  }
  input[type=submit].small.button {
    padding: 7px 20px 8px;
  }
  input[type=submit].medium.button {
    padding: 8px 34px 9px;
  }
  input[type=submit].large.button {
    padding: 9px 48px 10px;
  }
}
/* --------------------------------------------------
Alerts
-------------------------------------------------- */
div.alert-box {
  background: $gray10;
  border: 1px solid rgba($black, 0.1);
  @include border-radius(3px);
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 12px;
  padding: 6px 7px;
  position: relative;
  text-shadow: 0 1px rgba($white, 0.9);
}
.alert-box.success {
  background-color: lighten($green, 15%);
  color: $white;
  text-shadow: 0 -1px rgba($black, 0.3);
}
.alert-box.warning {
  background-color: lighten($orange, 25%);
  color: $white;
  text-shadow: 0 -1px rgba($black, 0.3);
}
.alert-box.error {
  background-color: darken($red, 15%);
  color: $white;
  text-shadow: 0 -1px rgba($black, 0.3);
}
.alert-box a.close {
  color: $black;
  font-size: 18px;
  @include opacity(0.2);
  padding: 4px;
  position: absolute;
  right: 4px;
  top: 0;
}
.alert-box a.close:hover,
.alert-box a.close:focus {
  @include opacity(0.4);
}
/* --------------------------------------------------
Labels
-------------------------------------------------- */
.label {
  background: $blue;
  bottom: 1px;
  color: $white;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 0 4px 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.label.radius {
  @include border-radius(2px);
}
.label.round {
  @include border-radius(8px);
  padding: 1px 7px 2px;
}
/* Colors ---------- */
.blue.label {
  background-color: $blue;
}
.red.label {
  background-color: $red;
}
.green.label {
  background-color: $green;
}
.white.label {
  background-color: $gray05;
  color: $gray80;
}
.black.label {
  background-color: $gray95;
}

/* --------------------------------------------------
Tabs
-------------------------------------------------- */
dl.tabs {
  border-bottom: solid 1px $gray15;
  display: block;
  height: 30px;
  margin: 0 0 20px 0;
  padding: 0;
}
dl.tabs dt {
  color: $gray40;
  cursor: default;
  display: block;
  float: left;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  padding: 0 9px 0 20px;
  text-transform: uppercase;
  width: auto;
}
dl.tabs dt:first-child {
  padding: 0 9px 0 0;
}
dl.tabs dd {
  display: block;
  float: left;
  height: 30px;
  padding: 0;
  width: auto;
}
dl.tabs dd a {
  background: $gray10;
  border: solid 1px $gray15;
  color: $gray65;
  display: block;
  height: 29px;
  line-height: 30px;
  margin: 0 -1px 0 0;
  padding: 0 9px;
  width: auto;
}
dl.tabs dd a.active {
  background: $white;
  border-width: 1px 1px 0 1px;
  height: 30px;
}
.nice.tabs {
  border-bottom: solid 1px $gray10;
  height: 43px;
  margin: 0 0 30px 0;
}
.nice.tabs dd a {
  background: none;
  border: none;
  color: $gray65;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 7px 18px 9px;
}
.nice.tabs dd a.active {
  background: $white;
  border-left: 1px solid $gray10;
  border-right: 1px solid $gray10;
  border-top: 3px solid $blue;
  color: $gray80;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
  top: -5px;
}
.nice.tabs dd:first-child a.active {
  margin-left: 0;
}
dl.tabs.vertical {
  height: auto;
}
dl.tabs.vertical dt,
dl.tabs.vertical dd,
dl.nice.tabs.vertical dt,
dl.nice.tabs.vertical dd {
  float: none;
  height: auto;
}
dl.tabs.vertical dd a {
  background: $gray10;
  border: solid 0 $gray20;
  border-width: 1px 1px 0;
  color: $gray65;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 15px 20px;
  width: auto;
}
dl.tabs.vertical dd a.active {
  background: $gray10;
  border-width: 1px 0 0;
  height: auto;
  margin: 0;
}
.nice.tabs.vertical {
  border-bottom: solid 1px $gray10;
  height: auto;
}
.nice.tabs.vertical dd a {
  background: $white;
  border: none;
  border-left: 1px solid $gray10;
  border-right: 1px solid $gray10;
  border-top: 1px solid $gray10;
  padding: 15px 20px;
}
.nice.tabs.vertical dd a.active {
  background: $blue;
  border: none;
  color: $white;
  height: auto;
  margin: 0;
  position: static;
  top: 0;
}
.nice.tabs.vertical dd:first-child a.active {
  margin: 0;
}
ul.tabs-content {
  display: block;
  margin: 0;
}
ul.tabs-content > li {
  display: none;
}
.no-js ul.tabs-content > li {
  display: block;
}
ul.tabs-content > li.active {
  display: block;
}
dl.contained,
dl.nice.contained {
  margin-bottom: 0;
}
dl.contained.tabs dd a {
  padding: 0 14px;
}
dl.nice.contained.tabs dd a {
  padding: 7px 18px 9px;
}
ul.contained.tabs-content {
  padding: 0;
}
ul.contained.tabs-content > li {
  border: solid 0 $gray15;
  border-width: 0 1px 1px 1px;
  padding: 20px;
}
ul.contained.vertical.tabs-content > li {
  border-width: 1px 1px 1px 1px;
}
ul.nice.contained.tabs-content > li {
  border-color: $gray10;
}

/* --------------------------------------------------
Pagination
-------------------------------------------------- */
ul.pagination {
  display: block;
  height: 24px;
  margin-left: -5px;
}
ul.pagination li {
  color: $gray40;
  display: block;
  float: left;
  font-size: 15px;
  height: 24px;
  margin-left: 5px;
}
ul.pagination li a {
  color: $gray65;
  display: block;
  padding: 6px 7px 4px;
}
ul.pagination li.current a,
ul.pagination li:hover a,
ul.pagination li a:focus {
  border-bottom: solid 2px $blue;
  color: $gray90;
}
ul.pagination li.unavailable a {
  color: $gray40;
  cursor: default;
}
ul.pagination li.unavailable:hover a,
ul.pagination li.unavailable a:focus {
  border-bottom: none;
}

/* --------------------------------------------------
Breadcrumbs
-------------------------------------------------- */
ul.breadcrumbs {
  background: $gray05;
  border: 1px solid $gray15;
  border-radius: 2px;
  display: block;
  overflow: hidden;
  padding: 7px 10px;
}
ul.breadcrumbs li {
  float: left;
  margin: 0;
  padding: 0 12px 0 0;
}
ul.breadcrumbs li a,
ul.breadcrumbs li span {
  font-size: 11px;
  padding-left: 12px;
  text-transform: uppercase;
}
ul.breadcrumbs li:first-child a,
ul.breadcrumbs li:first-child span {
  padding-left: 0;
}
ul.breadcrumbs li:before {
  content: "/";
  color: $gray35;
}
ul.breadcrumbs li:first-child:before {
  content: " ";
}
ul.breadcrumbs li.current a {
  color: $gray40;
  cursor: default;
}
ul.breadcrumbs li:hover a,
ul.breadcrumbs li a:focus {
  text-decoration: underline;
}
ul.breadcrumbs li.current:hover a,
ul.breadcrumbs li.current a:focus {
  text-decoration: none;
}
ul.breadcrumbs li.unavailable a {
  color: $gray40;
}
ul.breadcrumbs li.unavailable:hover a,
ul.pagination li.unavailable a:focus {
  color: $gray40;
  cursor: default;
  text-decoration: none;
}

/* --------------------------------------------------
Lists
-------------------------------------------------- */
ul.nice,
ol.nice {
  list-style: none;
  margin: 0;
}
ul.nice li,
ol.nice li {
  padding-left: 13px;
  position: relative
}
ul.nice li span.bullet,
ol.nice li span.number {
  color: $gray20;
  left: 0;
  position: absolute;
  top: 0;
}

/* --------------------------------------------------
Panels
-------------------------------------------------- */
div.panel {
  background: $gray05;
  @include background-image(linear-gradient(top, $white 0%, $gray05 100%));
  @include box-shadow(0 2px 5px rgba($black, 0.15));
  margin: 0 0 20px 0;
  padding: 20px 20px 2px 20px;
}

/* --------------------------------------------------
Nav Bar with Dropdowns
-------------------------------------------------- */
.nav-bar {
  background: $white;
  border: 1px solid $gray15;
  height: 45px;
  margin-top: 20px;
}
.nav-bar > li {
  border-right: 1px solid $gray15;
  display: block;
  float: left;
  line-height: 45px;
  margin: 0;
  padding: 0;
  position: relative;
}
.nav-bar > li > a.main {
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
}
.nav-bar > li > input {
  margin: 0 16px;
}
.nav-bar > li ul {
  margin-bottom: 0;
}
.nav-bar > li li {
  line-height: 1.3;
}
.nav-bar > li.has-flyout > a.main {
  padding-right: 36px;
}
.nav-bar > li.has-flyout > a.flyout-toggle {
  display: block;
  padding: 22px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.nav-bar > li.has-flyout > a.flyout-toggle span {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $blueDark;
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.flyout {
  background: $white;
  border: 1px solid $gray15;
  left: -1px;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 45px;
  width: 400px;
  z-index: 40;
}
.flyout.small {
  width: 200px;
}
.flyout.large {
  width: 600px;
}
.flyout.right {
  left: auto;
  right: 0;
}
.flyout p:last-child {
  margin-bottom: 0;
}
.nav-bar > li .flyout {
  display: none;
}

/* --------------------------------------------------
Sub Navs
-------------------------------------------------- */
dl.sub-nav {
  display: block;
  margin: -4px 0 18px -9px;
  overflow: hidden;
  padding-top: 4px;
  width: auto;
}
dl.sub-nav dt,
dl.sub-nav dd {
  display: inline;
  float: left;
  margin-left: 9px;
  margin-bottom: 4px;
}
dl.sub-nav dt {
  color: $gray40;
  font-weight: normal;
}
dl.sub-nav dd a {
  border-radius: 12px;
  text-decoration: none;
}
dl.sub-nav dd.active a {
  background: $blue;
  color: $white;
  padding: 3px 9px;
}

/* --------------------------------------------------
Video
-------------------------------------------------- */
.flex-video {
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 67.5%;
  position: relative;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* --------------------------------------------------
Microformats
-------------------------------------------------- */
/* hCard */
ul.vcard {
  border: 1px solid $gray15;
  @include inline-block;
  margin: 0 0 12px 0;
  padding: 10px;
}
ul.vcard li {
  display: block;
  margin: 0;
}
ul.vcard li.fn {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}
p.vevent span.summary {
  font-weight: bold;
}
p.vevent abbr {
  border: none;
  cursor: default;
  font-weight: bold;
  padding: 0 1px;
  text-decoration: none;
}

/* --------------------------------------------------
Tooltips
-------------------------------------------------- */
.has-tip {
  border-bottom: dotted 1px $gray20;
  color: $gray80;
  cursor: help;
  font-weight: bold;
}
.has-tip:hover {
  border-bottom: dotted 1px lighten($blue, 10%);
  color: $blueDark;
}
.tooltip {
  background: $black;
  background: rgba($black, 0.8);
  @include border-radius(4px);
  color: $white;
  display: none;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: normal;
  padding: 5px;
  position: absolute;
  z-index: 999;
}
.tooltip > .nub {
  border: solid 5px;
  border-color: transparent transparent $black transparent;
  border-color: transparent transparent rgba($black, 0.8) transparent;
  display: block;
  height: 0;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 0;
}
.tooltip.tip-override > .nub {
  border-color: transparent transparent $black transparent !important;
  border-color: transparent transparent rgba($black, 0.8) transparent !important;
  top: -10px !important;
}
.tooltip.tip-top > .nub {
  border-color: $black transparent transparent transparent;
  border-color: rgba($black, 0.8) transparent transparent transparent;
  bottom: -10px;
  top: auto;
}
.tooltip.tip-left,
.tooltip.tip-right,
.has-tip.tip-left,
.has-tip.tip-right {
  float: none !important;
}
.tooltip.tip-left > .nub {
  border-color: transparent transparent transparent $black;
  border-color: transparent transparent transparent rgba($black, 0.8);
  left: auto;
  right: -10px;
}
.tooltip.tip-right > .nub {
  border-color: transparent $black transparent transparent;
  border-color: transparent rgba($black, 0.8) transparent transparent;
  left: -10px;
  right: auto;
}
.tooltip.noradius {
  @include border-radius(0);
}
.has-tip.opened {
  border-bottom: dotted 1px $blueDark !important;
  color: lighten($blue, 10%) !important;
}
.tap-to-close {
  color: $gray45;
  display: block;
  font-size: 10px;
  font-size: 1.0rem;
  font-weight: normal;
}
